<div class="wrapper">
	<header>
		<div class="header-links">
			<a href="/all-articles">Home</a>
			<a href="/saved-articles">Saved Articles</a>
			<a href="/scrape"><button class="scrape-button">Scrape New Articles!</button></a>
			<p class="header-sentence">Scrape articles from Nerd Reactor! Duplicate articles will not be scraped - if nothing loads try again later!</p>
		</div>
	</header>

	<div class="photo-header">
		<img class="photo" src="/img/camera.jpg">
		<div class="photo-child">
			<h1>Mongo Article Scraper</h1>
			<h2>Nerd Reactor</h2>
		</div>
	</div>

	<div class="all-article-div">
		{{#each articles}}
			<ul>
				<li class="title">{{title}}</li>
				<li class="summary">{{summary}}</li>
				<li class="link"><a href="{{link}}" target="_blank">Read More</a></li>
				<button class="save-button" data-title="{{title}}" data-link="{{link}}" data-summary="{{summary}}" data-id="{{id}}">
				Save Article
			</button>
			</ul>
		{{/each}}
	</div>
</div>